* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.header, .main, .sidebar, .footer{
    background-color: white;
    padding: 20px;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
    text-align: justify;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 25px;

    grid-template-areas:
    "header header header"
    "main main sidebar"
    "widget-1 widget-2 sidebar"
    "footer footer footer"
    ;
}

h1, h2 {
    text-align: center;
}

.header {
    background-color: blue;
    color: white;
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    background-color: orangered;
    grid-area: sidebar;
}

.widget-1 {
    background-color: green;
    grid-area: widget-1;
}

.widget-2 {
    grid-area: widget-2;
}

.footer {
    background-color: blue;
    color: white;
    grid-area: footer;
}