h2 {
    text-align: center;
    font-weight: bold;
}

h6 {
    text-align: center;
    font-weight: normal;
}

a{
    color: #000;
}

#brillo {
    filter: brightness(0.4);
}

footer{    
    height: 15vh;    
    background-color: rgb(15, 64, 87);
    color: white;
}