*{
    margin: 0;
    padding: 0;
}

:root{
    --green-color: rgb(181, 209, 81);
    --blue-color: rgb(31, 165, 189);
    --grey-color: rgb(201, 201, 201);    
}

body {
    width: 100vw;
    height: 100vh;
}

.contenedor {
    width: 95vw;
    height: 95vh;
    /* margin-top: 2vh; */
    margin: 0 auto;
    padding-top: 2vh;
    
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

    grid-template-areas:  
    "header"
    "main"
    "footer";    
}

.header {
    width: 100%;
    height: 34vh;
    background-color: var(--green-color);
    grid-area: header;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.main {
    width: 100%;
    height: 34vh;
    background-color: var(--white-color);
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

#section1, #section2, #section3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
}

.footer {
    width: 100%;
    height: 25vh;
    background-color: var(--white-color);
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.footer .widgets_a, .footer .widgets_b {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
}

#widget_1, #widget_2, #widget_3, #widget_4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-color);
}

@media screen and (min-width: 500px) and (max-width: 900px){
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 2fr 1fr;
    }    
    .header {
        height: 25vh;        
    }
    .main {        
        height: 45vh;        
        flex-direction: column;
    }  
    .footer{        
        height: 11vh;        
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 200px) and (max-width: 499px){
    .contenedor {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 1fr 2fr 2fr;
    }
    .header {
            height: 15vh;            
    }
    .main {            
            height: 69vh;        
            flex-direction: column;
    }  
    .footer{            
            height: 45vh;            
            flex-direction: column;
    }
    .footer .widgets_a, .footer .widgets_b {            
            flex-direction: column;            
    }
} 
    






