*{
    margin: 0;
    padding: 0;
}

:root{
    --green-color: rgb(138, 211, 55);
    --blue-color: rgb(31, 165, 189);
    --grey-color: rgb(200 200 200);    
}

.contenedor {
    width: 90vw;
    margin: 0 auto;  
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas:  
    "header"
    "main"
    "footer";    
}

.header {
    width: 100%;
    height: 25vh;
    background-color: var(--green-color);
    grid-area: header;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.main {
    width: 100%;
    height: 25vh;
    background-color: var(--blue-color);
    grid-area: main;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.footer {
    width: 100%;
    height: 20vh;
    background-color: var(--grey-color);
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}






