#caja {
    background-color: white;
    height: auto;
}

p{
    padding: 6%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    font-size: 1.1rem;
    text-align: left;
    line-height: 24px;
    /* text-decoration: underline; */
    /* text-transform: capitalize; */
    /* letter-spacing: 1px; */
    /* word-spacing: 3px; */
    

}