#caja {
    width: 250px;
    height: 250px;
    background-color: rgb(75, 75, 75);
    color: white;

    animation-name: movimiento;
    animation-duration: 5s;
    animation-timing-function: ease;

}

p{
    padding: 2em;
}

@keyframes movimiento {
    from {
        opacity: 0.8;
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        background-color: white;
        color:black;
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.1);
    }

    to {
        background-color: rgb(75, 75, 75);
        color:white;
    }
}